.dev-content-inactive {
    display: none;
    transition: 3s ease;
}

.dev-content-active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(15, 26, 26);
    z-index: 1000;
    margin-bottom: 10%;
}

.dev-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 26, 26);
    border-radius: 4px;
    padding: 5%;
}

.dev-content-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

u {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.815);
}

dl {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

dt {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

dd {
    margin-bottom: 20px;
}

.dev-content-main-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: white;
    border-radius: 4px;
    margin-right: 10%;
    margin-top: 8%;
    border-top: 2px solid rgba(130, 214, 214, 0.651);
}

.dev-contact-link-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dev-contact-link {
    display: flex;
    align-items: center;
    color: lightgray;
    text-decoration: none;
    transition: 0.3s ease;
}

.dev-contact-link:hover {
    color: rgba(130, 214, 214, 0.651);
}

.icon {
    margin-right: 8px;
}

@media only screen and (max-width: 767px) {
    .dev-content-main {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 5%;
        margin: 20px;
    }

    .dev-content-active {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        background-color: #aaccff7e;
        justify-content: center;
        border-radius: 4px;
    }

    .dev-content-active {
        border: none;
    }

    .dev-content-main {
        flex-direction: column-reverse;
        margin-top: 10px;
    }

    .dev-content-main1,
    .dev-content-main2 {
        padding: 0;
        border: none;
    }

    .dev-contact-link:hover {
        color: white;
    }
}