@font-face {
    font-family: 'sans';
    src: url('/OpenSans-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    color: rgba(255, 255, 255, 0.884);
}

.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Define scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: rgba(130, 214, 214, 0.651);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkslategray;
}

@media only screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
}