.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    color: lightgray;
    background-color: rgb(15, 26, 26);
    border-bottom: 2px solid rgba(130, 214, 214, 0.651);
}

.heading {
    display: flexbox;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    font-size: 25px;
    line-height: 4px;
}

.heading-p2 {
    gap: 8px;
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(47, 79, 79, 0.651);
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 34px;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    height: 40px;
}

.control-panel-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cp {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 50px;
    border-radius: 34px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s ease;
    color: lightgray;
}

.cp-active {
    background-color: rgba(47, 79, 79, 0.603);
    color: rgb(65, 225, 212);
}

.cp:hover {
    cursor: pointer;
    background-color: rgba(47, 79, 79, 0.603);
    color: white;
}

.cp-btn {
    color: rgba(211, 211, 211, 0.445);
    font-size: 22px;
    font-weight: lighter;
    align-self: center;
    justify-content: center;
    background-color: transparent;
    transform: rotateY(180deg);
    transition: 0.2s ease;
    border-right: 2px solid lightgray;
    border-radius: 2px;
}

.cp-btn:hover {
    background-color: transparent;
    color: white;
}

.contact-devs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: darkslategray;
    border: 2px solid darkslategray;
    border-radius: 4px;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    transition: 0.2s ease;
    cursor: pointer;
}

.contact-devs p {
    margin-right: 5px;
}

.contact-devs:hover {
    border-color: white;
}

@media only screen and (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        gap: 0px;
        align-items: center;
        justify-content: flex-start;
    }

    .heading {
        display: flex;
        font-size: 22px;
        align-self: center;
        align-items: center;
    }

    .heading-p2 {
        margin-top: 0px;
    }

    .control-panel {
        margin-bottom: 10px;
    }
}